# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gitignore
.idea/.gitignore
.idea/FairClassification.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
